@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../../fonts/CooperHewitt-Thin.woff2') format('woff2'), url('../../fonts/CooperHewitt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt Medium';
    src: url('../..fonts/CooperHewitt-Medium.woff2') format('woff2'), url('../../fonts/CooperHewitt-Medium.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt Heavy';
    src: url('../../fonts/CooperHewitt-Heavy.woff2') format('woff2'), url('../../fonts/CooperHewitt-Heavy.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e222b;
}